/* Цвет оглавлений текста #212121 */
/* Цвет основного текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный для подвала rgba(255, 255, 255, 0.6); */
/* цвет body фона #e5e5e5 */
/* цвет фона команды #f5f4fa */
/* цвет фона героя  #2F303A; */
:root {
  --main-text-color: #212121;
  --title-text-color: #757575;
  --accent-text: #2196f3;
  --white: #ffffff;
  --background-body-section: #e5e5e5;
  --background-team-section: #f5f4fa;
  --background-hero-section: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
/* общие */
body {
  background-color: var(--background-features-section);
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--main-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* background-color: black; */
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 2px solid green; */
}

/* Делаем шапку */
.page-header {
  outline: 2px solid red;
  background-color: var(--white);
}

.header.container {
  display: flex;
  align-items: center;
}

/* название фирмы */
.firm-name {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.first-firm-name {
  color: var(--accent-text);
}
.second-firm-name {
  color: var(--main-text-color);
}

/* навигация сайта */
.nav {
  display: flex;
  align-items: center;
}

.site-nav.list {
  display: flex;
}

.site-nav .link,
.contact.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;

  color: var(--title-text-color);
}

.contact.link:not(:last-child) {
  margin-right: 50px;
}

.contact.link:hover,
.contact.link:focus {
  color: var(--accent-text);
}

.site-nav.list {
  padding-left: 0;
}
.site-nav.list,
.contact.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Подсветка актуально открытой страницы */
.link.current {
  color: var(--accent-text);
}

/* делаем блок герой */
.hero {
  background-color: var(--background-hero-section);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  /* background-color: red; */
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  text-align: center;

  color: var(--white);
  background-color: var(--accent-text);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* блок особеностей */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features.list {
  margin-top: 0;
  margin-bottom: 0;
}

.features.list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features.list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* чем мы занимаемся, все остальное в других блоках, Наша команда*/

.projects.list {
  margin-top: 0;
  margin-bottom: 0;
}

/* наша команда */
.section.team {
  background-color: var(--background-team-section);
}

.team.list {
  margin-top: 0;
  margin-bottom: 0;
}

.photo {
  margin-top: 0;
  margin-bottom: 30px;
}

.staff-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.specialty {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* подвал */
.page-footer {
  background-color: var(--background-hero-section);
}
.third-firm-name {
  color: #ffffff;
}
.address {
  color: var(--white);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.page-footer .link {
  color: var(--footer-link-color);
}

/* Страница Портфолио */
.radio-button {
  color: var(--main-text-color);
  background-color: var(--background-team-section);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.radio-button:hover,
.radio-button:focus {
  color: var(--white);
  background-color: var(--accent-text);
}
.image-name {
  color: var(--main-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
